.auth {
  width: 320px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  padding: 1rem 1rem 0!important;
  background-color: #e8f9df;
  border: 3px solid #d3f9bf;
  border-radius: 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
