$primary: var(--color-primary);
$secondary: var(--color-secondary);
$teritary: var(--color-teritary);
$quaternary: var(--color-quaternary);
$fifth: var(--color-fifth);

$text: var(--color-text);

$error: var(--color-error);
$warning: var(--color-warning);
$info: var(--color-info);
$success: var(--color-success);

$space: var(--space);

$light-grey-blue: #667992;
$light-grey: #f6f6f7;
$pen-blue-color: #154c95;
$light-green: #a7e7c5;
$light-red: #f08888;
$light-blue: #004a9a;

$delete-border-red: #f3c3c3;

$workspace-hower: #fdf2d8;
$workspace-status: #fef0e1;

$xxs: 320px;
$xs: 375px;
$sm: 480px;
$md: 768px;
$lg: 1172px;
$xl: 1200px;
$xxl: 1366px;

$border-radius: 6px;
$control-height: 48px;

$transition: 0.25s;

$field-group-space: calc(#{$space} * 4);
